body {
    font-family: 'Lato', sans-serif;
    margin: 0; 
    background-color: #ccffff;   
}
* {
    box-sizing: border-box;
}

    /* sup-logo */
.logo {
    background-color: white;
    top: 0;
    padding-top: 8px;
}
.logo a {
    text-decoration: none;
    text-align: center;
    font-size: 24px;
}
.logo h1:hover {
    color: rgb(0, 102, 255);
}
.logo h1 {
    color: rgb(0, 195, 255);
    margin-bottom: 0px;
}
.com {
    color:rgb(0, 102, 255);
}
.logo p {
    color: rgb(0, 102, 255);
    text-align: center;
    margin: 0px;
    padding: 2px;
    font-size: 18px;
}

    /* navbar */
.navbar {
    background-color: #333;
    overflow: hidden;
    text-align: center;
    margin: 0px;
    padding: 0px;

}
.navbar a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
    margin: 0px;
}
.navbar a:hover {
    background-color: #00bfff;
    color: white;
    transition: .1s;
}
.navbar i {
    float: right;
    color: white;
}


    /* lucky cards */
.lucky-cards {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.card {    
    min-width: 150px;
    max-width: 150px;
    border: solid 1px aquamarine;
    border-top: 0;
    padding: 5px 5px 0px;
    text-align: center;
    color: white;
    background-color: #89b9f0;
}
.card p {
    font-size: 18px;
}


.index-main-content {
    background-color: white;
    margin: auto;
    margin-top: 0;
    width: 1048px;
    padding: 5px 14px 16px 14px;
    text-align: center;
}
.index-main-content p {
    font-size: 18px;
}
.intro-box {
    margin: 5px; 
    margin-top: 10px;
    padding: 5px;
}
.intro-box h1 {
    padding: 2px;
}

    /* before and after slider */
.comp-contaier {
    overflow: auto;
    margin-left: 5px;
    margin-right: 5px;
    min-height: 480px;
}
.before-after {
    margin-left: 5px;
    margin-right: 5px;    
}
.before-after img {
    margin: auto;
}
.img-comp-container {
    position: relative;
    height: 400px; 
}
.img-comp-img {
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden;
}
.img-comp-img img {
    display: block;
}
.img-comp-slider {
    position: absolute;
    z-index: 9;
    cursor: ew-resize;
    width: 30px;
    height: 30px;
    background-color: #89b9f0;
    opacity: 0.9;
}
.comp-text {
    margin-right: 5px; 
    width: 362px;
    float: right;
    text-align: left;
}

.static-comp {
    margin-left: 5px;
    margin-right: 5px; 
}

    /* footer */
.footer {
    background-color: #89b9f0;
    margin: auto;
    margin-top: 0;
    width: 1048px;
    padding: 4px 4px 6px 4px;
    text-align: center;
}
.footer i {
    margin-top: 10px;
}
