h1,h2,h3,h4,h5,h6 {
    font-family: "Oswald"
}
body {
    margin: 0;
    font-family: "Open Sans";
    background-color: #E8E8E8;
    align-content: center;
    
}
::selection {
  color: white;
  background: black;
}
* {
    box-sizing: border-box;
}
    /* navbar */
#navbar {
    overflow: hidden;
    background-color: black;
    z-index: 1;
}
#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    transition: .1s;
}
#navbar a:hover {
    background-color: white;
    color: black;
}
.navbar-right {
    float: right;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .content {
    padding-top: 30px;
}

    /* content */

    /* header */
.title-bg {
    background-color: white;
}
.title {
    margin: auto;
    text-align: center;
    padding: 20px;
    background-color: white;
    width: 400px;
    outline: 4px solid black;
}
.title h1 {
    top: 0;
    font-size: 50px;
}
.name-tag {
    color: white;
    background-color: black;
}
.image-header {
    float: center; 
    overlow: auto; 
}
.image-header img {
    width: 100%;
    height: auto;
    vertical-align: middle;
    border-top: 4px solid black;
}
.image-header-text-container {
    position: relative;
    text-align: left;
    color: black;
}
.image-header-text {
    position: absolute;
    top: -300px;
    left: 30px;
   }
.button-subscribe {
    border: 2px solid black;
    background-color: rgb(255, 255, 255, 0.5);    
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    font-family: "Oswald";
    font-weight: bold;
    transition: 0.2s;
}
.button-subscribe:hover {
    background-color: rgb(255, 255, 255)
}
    /* end of header */

    /* columns for content */
.column-left {   
    float: left;
    width: 65%;
}
.column-right {
    float: left;
    width: 35%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.card {
    padding: 20px;
    margin: 16px;
    background-color: white;
    overflow: auto;
}
.card-title {
    background-color: black;
    color: white;
    padding-right: 35px;
    padding-left: 20px;
    width: 100%;
}
.card-title h1 {
    float: left;
}
.card-title h4 {
    font-size: 18px;
}
.card-title  {
    float: right;
    text-align: right;    
}
.card-footer {
    clear: right;
    background-color: black;
    color: white;
    padding: .05px;
    padding-left: 20px;
}
.card-footer a {
    text-decoration: none;
    color: white;
    opacity: 0.855;
    transition: .1s;
}
.card-footer a:hover {
    opacity: 1;
}
.card-footer h3 {
    font-size: 20px;
    margin-top: 0px;
    padding-top: 0px;
}
    /* right columns */
.card-right {
    padding: 0;
    margin: 16px;
    background-color: white;
}
.card-right h2 {
    margin-top: 0;
    color: white;
    background-color: black;
    padding: 16px;
}
.card-right p {
    padding: 0px 20px 20px 20px;
}
.card-pop-posts {
    margin: 5px;
    padding: 0px 8px;
    padding: 16px;
    margin: 16px;
    background-color: white;
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}
.card-pop-posts a {
    color: black;
}
.card-pop-posts h3 a {
    font-size: 20px;
    text-decoration: none;
}
.card-tags {
    text-align: center;
    padding: 6px;
    margin-bottom: 10px;
    line-height: 26px;
    }
.card-tags a {
    background-color: lightgray;
    text-decoration: none;
    color: black;
}
.card-tags a:hover {
    background-color: black;
    color: white;
}
.card-button-subscribe {    
    text-align: center;
    color: white;
    border: none;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    background-color: red;
    font-size: 20px;
    margin: 0px 20px 20px 20px;
    width: 90%;
    cursor: pointer;
}
.email {
    padding: 10px;
    width: 90%;
    margin: 0px 20pc 20px 20px;
}
.ad {
    padding: 25px;
    background-color: grey;
}
